# VARIÁVEIS DA URL DA API DO SISTEMA DE FROTAS, UMA PARA ACESSAR DO LADO DO SERVIDOR E OUTRA DO LADO DO CLIENTE
API_URL=http://localhost:3001
NEXT_PUBLIC_API_URL=http://localhost:3001

#Usar esse .env Quando fizer build do docker-compose
#API_URL=https://cidades-frotas-api.app.fslab.dev
#NEXT_PUBLIC_API_URL=https://cidades-frotas-api.app.fslab.dev

# VARIÁVEIS DA BIBLIOTECA NEXT AUTH -> A PRIMEIRA É A URL DO FRONT-END ACESSÍVEL, POR EXEMPLO: https://meu-sistema.com E A DEBAIXO É O SECRET PARA GERAR A SESSÃO DO USUÁRIO
NEXTAUTH_URL=http://localhost:3000 
NEXTAUTH_SECRET=secretsupersecreto

# Porta que o front-end vai rodar no docker-compose
EXPOSE_PORT=3000

#Variaveis para autenticação via gitHub
GITHUB_SECRET = Ov23lilTkslaUzi4Y7zH
GITHUB_ID
