API_URL=https://api-academia.app.fslab.dev
NEXT_PUBLIC_API_URL=https://api-academia.app.fslab.dev

NEXT_PUBLIC_FRONT_URL=http://localhost:3000

NEXTAUTH_URL=http://localhost:3000 
NEXTAUTH_SECRET=

NEXT_PUBLIC_LIMITE_UPLOAD_ARQUIVOS=1

EXPOSE_PORT=3000